.market {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(246, 247, 247);

  &-back {
    &-text {
      margin-left: 15px;
      font-size: 20px;
      color: rgb(110, 117, 124);
    }
  }

  &-industry {
    &-risk {
      margin: 25px 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      min-width: 1024px;
      padding: 15px 25px;
      background-color: white;
      border: 1px solid rgb(223, 225, 227);
      border-radius: 8px;

      &-green {
        background-color: rgb(83, 164, 81);
        height: 100%;
        min-height: 85px;
        width: 8px;
        min-width: 8px;
        border-radius: 8px;
        margin-right: 25px;
      }

      &-infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 25px;

        &-text {
          font-size: 35px;
          color: black;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &-bold {
            font-weight: bold;
            margin-right: 8px;
          }
        }
      }

      &-button {
        margin-top: 5px;
        outline: none;
        min-height: 40px;
        box-sizing: border-box;
        padding: 5px 25px;
        min-width: 100px;
        background-color: rgb(248, 255, 238);
        color: rgb(84, 164, 82);
        border: 1px solid rgb(194, 232, 153);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }
    }
  }

  &-wrapper {
    display: flex;
  }

  &-right {
    margin-left: 25px;
  }

  &-overview {
    padding: 25px;
    border-radius: 8px;
    background: white;
    min-width: 500px;
    min-height: 500px;
    display: flex;

    &-title {
      font-size: 25px;
      font-weight: 500;
      color: black;
    }

    &-size {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      &-title {
        font-size: 18px;
        color: rgb(110, 119, 127);
      }

      &-tons {
        font-size: 45px;
        color: black;
        font-weight: bold;
      }
    }

    &-geo {
      margin-bottom: 25px;

      &-title {
        font-size: 18px;
        color: rgb(110, 119, 127);
        margin-bottom: 15px;
      }

      &-box {
        display: flex;
        align-items: center;

        & > img {
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }

        &-country {
          color: rgb(175, 140, 67);
          font-size: 24px;
          font-weight: bold;
          margin-right: 10px;
        }

        &-percentage {
          color: rgb(175, 140, 67);
          font-size: 24px;
        }
      }
    }

    &-volatility {
      max-width: 170px !important;
    }

    &-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 25px;

      &:first-child {
        margin-left: 0;
      }

      &-divider {
        margin: 25px 0;
        min-height: 1px;
        height: 1px;
        width: 100%;

        background-color: rgb(223, 223, 223);
      }
    }

    &-card {
      background-color: #f6f7f7;
      width: 100%;
      min-height: 150px;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 25px;
      display: flex;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &-green {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-top: 5px;

        &-dot {
          width: 15px;
          min-width: 15px;
          height: 15px;
          min-height: 15px;
          border-radius: 50%;
          background-color: rgb(83, 164, 81);
          margin-bottom: 15px;
        }

        &-line {
          background-color: rgb(217, 217, 217);
          width: 1px;
          height: 100%;
        }
      }

      &-infos {
        display: flex;
        flex-direction: column;
      }

      &-title {
        color: black;
        font-size: 18px;
        margin-bottom: 10px;
        max-width: 250px;
      }
      &-text {
        color: black;
        font-size: 14px;
        max-width: 225px;

        &-bold {
          font-weight: bold;
        }
      }
    }

    &-stage {
      &-title {
        font-size: 22px;
        color: black;
        font-weight: bold;
      }

      &-subtitle {
        font-size: 14px;
      }

      &-graph {
        display: flex;
        margin-top: 5px;
        &-icon {
          font-size: 35px;

          margin-right: 10px;
        }

        &-text {
          max-width: 215px;
        }
      }
    }

    &-ebi {
      display: flex;
      flex-direction: column;

      &-title {
        font-size: 18px;
        max-width: 250px;
        font-weight: bold;
      }

      &-text {
        font-size: 22px;
        color: black;
        font-weight: bold;
      }
    }
  }

  &-prioritization {
    display: flex;
    align-items: center;
    margin: 25px 0;

    &-title {
      margin-right: 10px;
      font-size: 18px;
      color: rgb(19, 16, 84);
      min-width: 160px;
    }

    &-line {
      height: 1px;
      min-height: 1px;
      background-color: rgb(223, 223, 223);
      width: 100%;
    }

    &-card {
      background-color: white;
      width: fit-content;
      height: fit-content;

      border-radius: 8px;
      box-sizing: border-box;
      padding: 25px;
      display: flex;
      margin-bottom: 15px;
      margin-right: 25px;

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }

      &-green {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-top: 5px;

        &-dot {
          width: 15px;
          min-width: 15px;
          height: 15px;
          min-height: 15px;
          border-radius: 50%;
          background-color: rgb(83, 164, 81);
          margin-bottom: 15px;
        }

        &-line {
          background-color: rgb(217, 217, 217);
          width: 1px;
          height: 100%;
        }
      }

      &-infos {
        display: flex;
        flex-direction: column;
      }

      &-title {
        color: black;
        font-size: 18px;
        margin-bottom: 10px;
        max-width: 250px;
      }
      &-text {
        color: black;
        font-size: 14px;
        max-width: 225px;

        &-bold {
          font-weight: bold;
        }
      }
    }

    &-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    &-sector {
      display: flex;
      flex-direction: column;

      &-title {
        color: rgb(83, 164, 81);
        font-size: 18px;
        font-weight: bold;
        max-width: 250px;
        margin: 5px 0;
      }

      &-subtitle {
        max-width: 250px;
      }

      &-text {
        max-width: 250px;
      }
    }
  }

  &-competition {
    padding: 15px;
    border-radius: 8px;
    background: white;
    margin-bottom: 25px;

    min-width: 340px;
    min-height: 500px;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 25px;
      font-weight: 500;
      color: black;
      margin-bottom: 15px;
    }

    &-card {
      background-color: #f6f7f7;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 15px 25px 15px 35px;
      display: flex;
      margin-bottom: 15px;
      margin-left: 10px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &-icon {
        position: absolute;
        top: 15px;
        left: -15px;
        font-size: 30px;
      }

      &-infos {
        display: flex;
        flex-direction: column;
      }

      &-title {
        color: rgb(110, 119, 127);
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        max-width: 250px;
      }

      &-text {
        color: black;
        font-size: 14px;
        max-width: 225px;

        &-bold {
          font-weight: bold;
        }
      }
    }

    &-card-normal {
      background-color: #f6f7f7;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 25px;
      display: flex;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &-green {
        min-height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-top: 5px;

        &-dot {
          width: 15px;
          min-width: 15px;
          height: 15px;
          min-height: 15px;
          border-radius: 50%;
          background-color: rgb(83, 164, 81);
          margin-bottom: 15px;
        }

        &-line {
          background-color: rgb(217, 217, 217);
          width: 1px;
          height: 100%;
        }
      }

      &-infos {
        display: flex;
        flex-direction: column;
      }

      &-title {
        color: rgb(110, 119, 127);
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        max-width: 250px;
      }
      &-text {
        color: black;
        font-size: 14px;
        max-width: 225px;

        &-bold {
          font-weight: bold;
        }
      }
    }

    &-local {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        font-size: 16px;
      }

      &-text {
        color: black;
        font-size: 20px;
        font-weight: bold;
      }
    }

    &-divider {
      height: 1px;
      min-height: 1px;
      background-color: rgb(234, 234, 234);
      margin: 15px 0;
    }

    &-competitors {
      cursor: pointer;
      padding: 20px 40px;
      box-sizing: border-box;
      border-radius: 10px;
      background: white;
      display: flex;
      flex-direction: column;

      &-button {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-list {
        margin-top: 15px;
        &-item {
          margin-bottom: 10px;
        }
      }

      &-icon {
        font-size: 20px;
      }

      &-text {
        color: rgb(26, 31, 86);
        font-size: 20px;
      }

      &-chevron {
        font-size: 20px;
      }
    }
  }
}
